<style TYPE="text/css">
			
						/* External CSS for page1.html, having all the styles externalized */

			body{					/* Resetting the body's margin*/
				margin-left:0px;
				margin:0px;
				}
			
			#description3:before {						/* To include the copyright symbol*/
					content:"\00a9        ";
				}
				
			a{
				 text-decoration:none; 
				 color:inherit
				}
			
			a.one:hover {color:grey;}		/* Link color change on hovering with mouse*/
			
			#address { 
					
					position:absolute;
					font-family: Baskerville;
					font-size: 14px;
					text-align: left;
					left:150px;
					text-shadow: 0.23px 0.23px #black;
				  
			}
				  
			#heading1 {								/* Restaurant's name*/
				
					position:absolute;
					font-family: Sans-serif;
					font-weight:400;
					font-size: 40px;
					left:400px;
					top:45px;
					letter-spacing: 10px;
					text-align: left;
					color:rgb(189,156,88);
					display: block;
					text-shadow: 0.3px 0.3px #rgb(189,156,88);
				  
					}
					
			#heading2 {								/* Restaurant's description1 */
				
				position:absolute;
				font-family: Helvetica;
				font-size: 11px;
				display: block;
				text-align: left;					
			    margin-left:510px; 
				left:50px;
				top: 750px;
			}

			#heading3 {
			
				postion: absolute;
				font-family: Baskerville;
				color:rgb(189,156,88);
				font-weight: 600;
				font-style: italic;
				font-size: 27px;
				text-align: left;
				margin-left:550px; 
				left:50px;
				margin-top: 600px;
				
			}
				
			#description1 {							/* Restaurant's description */
				
				 font-family: Sans-serif;
				 display: block;
				 text-align: left;
				 margin-left:550px; 
				 font-size: 13px;
				 	
			}
			
			#foot1 {							/* Read more link */
				font-family: Helvetica;
			    font-weight: 600;
				display: block;
				text-align: left;	
			    margin-left:550px; 
				font-size: 13px;
				text-shadow: 0.23px 0.23px #black;
				
			}
			
			
			#heading4 {						/* Restaurant's description */
				
				postion: absolute;
				font-family: Baskerville;
				color:rgb(189,156,88);
				font-weight: 600;
				font-style: italic;
				font-size: 27px;
				text-align: left;
				margin-left:20px; 
				left:20px;
				margin-top: 680px;
				
				}
			
			#heading5 {							/* Restaurant's description */
			
				display: block;
				text-align: left;
				postion: absolute;
				font-family: Sans-serif;
				color:black;
				font-weight: 500;
				font-size: 10px;
				text-align: left;
				margin-left:475px;
				position: absolute;
				top:2590px;

			}
			
			#heading6 {
			
				postion: absolute;
				font-family: Baskerville;
				color:rgb(189,156,88);
				font-weight: 600;
				font-style: italic;
				font-size: 27px;
				text-align: left;
				margin-left:190px;
				position: absolute;
				top:2610px;
			}
			
			#description2 {						/* Foot notes */
				
				font-family: Sans-serif;
				display: block;
				text-align: left;
				font-size: 13px;
				text-align: left;
				margin-left:20px; 
				left:20px;
						
			}
			
			#description3 {
				font-family: Sans-serif;
				display: block;
				font-size: 13px;
				color:white;
			    position: absolute;
				right:180px;
				float:left;
				margin-left:-20px;
				text-align: left;
				position: absolute;
				top:20px;
									
			}
			
			#description4 {					/* Restaurant's description */
				
				font-family: Baskerville;
				display: block;
				text-align: left;
				font-size: 8px;	 
				text-align: left;
				display: block;
				margin-left:90px; 
				
			}
			
			#description5 {
				
				font-family: Baskerville;
				display: block;
				text-align: left;
				font-size: 20px;	 
				text-align: left;
				display: block;
				margin-left:80px; 
				postion:absolute;
				right: 350px;
				margin-top:-20px;
				display: block;
				
			}
			
			#foot2 {						/* Restaurant's footnotes */
				
				position: absolute;
				font-family: helvetica;
			    font-weight: 600;
			    display: block;
				text-align: left;	
			    font-size: 12px;
				text-shadow: 0.23px 0.23px #black; 
				text-align: left;
				margin-left:20px; 
				left:10px;
				
			}
			
			hr{										/* Horizontal rule */
				color:rgb(235,235,235);
			    margin-left:-10px;
			    width:1025px; 
				opacity: 0.3;				
			
			}
			table {
				font-family: Baskerville;
				text-align: left;
				table-layout: fixed;
				width: 80px;
			}
			
			th, td {
						text-align: left;
						float: left;
						width: 150px;
					}
				
			#picture1 {										/* Fixed background image */
				
					background-image:url(http://cs-server.usc.edu:45678/hw/hw3/images/image6.jpg);		
					height:580px;
					background-position: -340px 20px; 
					background-size: 1675px;
					background-repeat: no-repeat;
					/*clip-path: inset(14% 19% 30% 20%);*/
					width:1193px; /*container-width*/
					max-width:1025px;
					/*overflow:hidden; hide bounds of image */
					margin-left:-10px;
					background-attachment: fixed;
					float:left;
					}
					
			#picture2 {							/* Restaurant's Images */
				
					position: absolute;
					bottom: -300px;
					right: 500px;
					top:820px;
					float:left;
					left: 30px;
					margin-right:400px; 
					}
					
			#picture3 {
					
					position: absolute;
					bottom: -300px;
					right: 500px;
					top:1375px;
					float:left;
					left: 30px;
					
					}
					
			#picture4 {								/* Restaurant's Images */
					
					position: absolute;
					bottom: -300px;
					top:1100px;
					left: 100px;
					margin-left:450px; 
					float:left;
					}
					
			#picture5 {
				
					position: absolute;
					width:50%;
					bottom: 600px;
					right: 550px;
					top:1450px;
					left: 100px;
					margin-left:450px; 
					float:left;
					}					
			
			#picture6{						/* Restaurant's Images */
				
				    position: absolute;
					bottom: 100px;
					right: 17px;
					top:1950px;
					float:left;
					left:45px;
					
					}
				
			#picture7 {								/* Restaurant's Background image */
				
					background-image:url(http://cs-server.usc.edu:45678/hw/hw3/images/image5.jpg);
					height: 550px;
					background-position: 1px 20px; 
					background-size: 1030px;
					background-repeat: no-repeat;
					/*clip-path: inset(14% 19% 30% 20%);*/
					width:1193px; /*container-width*/
					max-width:1100px;
					/*overflow:hidden; hide bounds of image*/
					margin-left:-20px;
					background-attachment: fixed;
					margin-top:920px;
					margin-right:10px;
					float:left;
					}
					
			#rectangle1 {							/* Order Online */
				
					width: 300px;
					height: 120px;
					float:left;
					background: white;
					color:rgb(90,89,83);
				    position: absolute;
					margin-left:-20px;
					text-align: left;
					right: 360px;
					top:2195px;
					display: block;
					margin-left:-50px; 
							
				}
		
			#rectangle2 {									/* Restaurant's copyrights */
					width: 1043px;
					height: 90px;
					float:left;
					background-color:rgb(189,156,88);
					margin-left:-20px;
					text-align: left;
					position: absolute;
					top:3300px;
					
				}
</style>